<form method="get" action='@Url.Action("PaginaPrincipal","Home")' enctype="multipart/form-data">
    <input type="text" class="play" id="player" name="Nombre" placeholder="Ingrese su nombre">
    <input class="btn btn-warning" Type="submit" id="play" value="Ingresar">
    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#ModalIniciarSesion" onclick="CrearCuenta()">
        Crear Cuenta
    </button>
</form>

<div class="modal fade" id="ModalIniciarSesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top: 20%;" role="document">
            <div class="modal-content bg-white text-dark">
                <div class="modal-body">
                    <p id="CrearCuenta"></p>
                </div>
                <div class="modal-footer">
                    <button data-bs-dismiss="modal" class="btn btn-warning" Type="submit" id="play"> cerrar </button>
                </div>
                
            </div>
        </div>
    </div>