<div class="text-center">
    <h1 class="display-4" style="font-family: 'Lexend'; filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.50));">DELTA GAMES</h1>
</div>
<form method="get" action='@Url.Action("PaginaPrincipal","Home")' enctype="multipart/form-data">
    <input type="text" class="play" id="player" name="Nombre" placeholder="Ingrese su nombre">
    <input class="btn btn-warning" Type="submit" id="play" value="Ingresar">
</form>