<div class="text-center">
    <h1 class="display-4" style="font-family: 'Lexend';">DELTA GAMES</h1>
    <a href="/deltagames.png"></a>
</div>
<form method="get" action='@Url.Action("PaginaPrincipal","Home")' enctype="multipart/form-data">
    <input type="text" id="player" name="Nombre" placeholder="Ingrese su nombre">
    <input class="btn btn-warning" Type="submit" id="play" value="Ingresar">
</form>