html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#player {
  position: absolute;
  top: 43.5%;
  left: 40%;
  width: 10%;
}

#play {
  position: absolute;
  top: 43%;
  left: 50%;
  width: 10%;
}

.NuevoJuego {
  position: absolute;
  top: 39%;
  left: 44.5%;
  width: 10%;
}

.OrdenarJuegosIndex{
  margin-top: 8%;
  margin-left: 6%;
}
.carouselIndex{
  width: 1500px;
  height: 300px;
}